services:
  llmbox:
    image: registry:5000/llmbox:latest
    network_mode: host
    pid: host
    working_dir: /work/{{ workspace_name }}/backend
    tty: true
    user: "${UID}:${GID}"
    environment:
      TERM: ${TERM}
      COLORTERM: ${COLORTERM}
    volumes:
      - ${HOME}/.claude.json:/home/ubuntu/.claude.json:rw
      - ${HOME}/.claude:/home/ubuntu/.claude:rw
      - ${HOME}/.codex:/home/ubuntu/.codex:rw
      - ${HOME}/.vimrc:/home/ubuntu/.vimrc:ro
      - ${HOME}/.gitconfig:/home/ubuntu/.gitconfig:ro
      - ${HOME}/.cache:/home/ubuntu/.cache:rw
      - ../backend:/work/{{ workspace_name }}/backend:rw
      - ../backend/.git:/work/{{ workspace_name }}/backend/.git:ro
      - ../frontend:/work/{{ workspace_name }}/frontend:rw
      - ../frontend/.git:/work/{{ workspace_name }}/frontend/.git:ro
    # Required for Chromium
    shm_size: 1G
