"""Project constants."""

PROJECT_NAME = "{{ project_name }}"
PROJECT_DESCRIPTION = "{{ project_description }}"
API_TITLE = "{{ project_name }} API"
API_DESCRIPTION = "{{ project_description }}"
DEFAULT_BACKEND_PORT = {{ backend_port }}
